.board-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image:  url('../assets/images/boardScreenBackground.png');
}

.map-container{
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(215, 180, 204);
}

.turn-info-container{
  color: white;
  padding: 20px;
}

.player-score-container{
  color: white;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
}

.stats-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grey-border{
  border: rgb(200, 200, 200) solid 2px;
}

.white-border{
  border: rgb(250, 240, 250) solid 4px;
}

.violet-border{
  border: rgb(215, 180, 204) solid 8px;
  background-color: rgb(180, 150, 180);
  padding: 2px;
}