.title-container{
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 50px;
  padding-top: 60px;
  margin-top: 50px;
}

.home-screen-container{
  height: calc(100vh - 70px);
  background-size: cover;
  background-image: url('../../assets/images/homeScreenBackground.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.create-room-button{
  margin-top: 50px;
  color: white;
  background-color: rgb(215, 120, 160); 
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.create-room-inner{
  color: white;
  background: rgb(215, 120, 160);
  border-right: 2px solid #D8A5D3;
  border-bottom: 2px solid #D8A5D3;
  border-left: 2px solid #D8A5D3;
  border-top: 2px solid #D8A5D3;
  font-size: 40px;
}

.no-decor{
  text-decoration: none;
}

.room-id-hint-container{
  margin-top: 10%;
  margin-bottom: 15px;
  color: white;
  font-size: 30px;
}

.room-id-container{
  font-size: 35px;
  background-color: rgb(220, 180, 210);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  border-left: white 4px solid;
  border-top: white 4px solid;
  border-bottom: black 4px solid;
  border-right: black 4px solid;
}

.room-id-input{
  font-size: large;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white; 
  background-color: rgb(220, 180, 210);
}

.input-spacer{
  width: 4px;
  background-color: rgb(220, 180, 210);
}

.room-id-input:focus{
  outline-width: 0 !important;
  box-shadow: none !important;
}

.input-reset-container{
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: rgb(190, 150, 190);
  border-bottom: black 3px solid;
  border-right: black 3px solid;
}

.confirmImg {
  width: 100%;
  height: 100%;
}

.modalView {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} 
