.questionNavbar {
  background-color: #e4afd9;
  text-align: left;
  height: 20%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30vh;
  position: relative;
}

.questionPanel {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.title > p {
  font-size: 20px;
}

.question > p {
  font-size: 20px;
  text-align: center;
}

.closeQuestion {
  color: black;
  background-color: #c697c0;
}

.rightCenter {
  text-align: right;
  border-width: thin;
  border-style: solid;
  border-color: #000;
  background-color: #c697c0;
  margin-right: 10px;
}

.leftCenter {
  text-align: left;
}

.questionPanel {
  background-color: #fcccfc;
  color: black;
}

.answers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.dolphinContainer {
  position: absolute;
  right: 20px;
}

.dolphin {
  width: 50px;
  height: auto;
}

.button {
  background: #e6b0d4;
  border-right: 3px solid #000000;
  border-bottom: 3px solid black;
  width: 23%;
  height: fit-content;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
