.board-container {
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-image: linear-gradient(#110036, #b40ba2);
}

.map-container {
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(215, 180, 204);
}

.turn-info-container {
  color: white;
  padding: 20px;
}

.player-score-container {
  color: white;
  padding: 20px;
  flex-grow: 1;
  text-align: center;
}

.stats-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grey-border {
  border: rgb(200, 200, 200) solid 2px;
}

.white-border {
  border: rgb(250, 240, 250) solid 4px;
}

.violet-border {
  border: rgb(215, 180, 204) solid 8px;
  background-color: rgb(180, 150, 180);
  padding: 2px;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.mymodal {
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
